@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&family=Nanum+Myeongjo:wght@400;700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #cbe1ff;
    --secondary-color: #c1fff1; 
    --accent1-color: 	#8cd8e0; 
    --accent2-color: #46abb9;
    
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Nanum Myeongjo', serif;
    --colored-font: 'Quicksand', sans-serif;
    
    --nav-background-color: #cbe1ff;
    --nav-link-color: #c1fff1;
    --nav-hover-link-color: #8cd8e0;
    --nav-hover-background-color: #46abb9;      
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ 

.call{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-hover-background-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.call:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
}

header img {
    height: 150px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    transition: 1s;
}

.logo:hover{
    transform: scale(1.1);
    transition: 1s;
}


.navh a{
    font-size: 17px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: var(--nav-hover-link-color);
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.navh :hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

/*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ 

.dirt1 img{
    width: 100%;
    padding-top: 40px;
    background-color: var(--accent2-color);
}

.dirt1{
    position: relative;
}

.dirt2{
    position: absolute;
    top: 35%;
    color: black;
    transition: all 0.5s ease;
}

.dirt2:hover{
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

.flex1{
    display: flex;
    flex-flow: column wrap;
    align-items: center ;
    background-color: rgba(203, 225, 255, .5); 
}


.flex1 h2{
    font-family: var(--heading-font);
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 100px;
}

.flex1 p{
    font-family: var(--paragraph-font);
    font-size: 20px;
    padding-bottom: 50px;
    text-align: center;
}

/*FORM*/

form{
    width: 500px;
    height: auto;
    border: 1px solid rgba(0, 0, 1, 0.1);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    } 

.flex2{
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding-bottom: 50px;
    padding-top: 50px;
}

.form-item {
    display: flex;
    justify-content: space-between;
}

form h1{
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
    font-size: 30px;
    font-family: var(--heading-font);
    color: navy;
    text-align: left;
}

fieldset{
    display: grid;
    grid-gap: 1px;
    border: none;
    padding: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 15px;
}

label{
    padding-top: 2rem;
    padding-bottom: 10px;

}

label, input, button, select, textarea{
    font-family: var(--colored-font);
    font-size: 15px;
}

button {
    margin: 1rem;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: var(--nav-hover-background-color);
}


/*SECTION*/

.grid2{
    display: grid;
    grid-template-rows: auto auto;
}

.grid2 img{
    width: 284px;
    height: 200px;
    transition: 1s;
}

.grid2 img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.grid2 h2{
    text-align: center;
    background-color: var(--accent2-color);
    padding-top: 30px;
    color: aliceblue;
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    border-radius: .5rem;
}

.flexbox3{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    padding-bottom: 30px;
    padding-top: 100px;
    transition: all 0.5s ease;
    border-radius: .5rem;
}

.flexbox3:hover{
    background-color: var(--nav-hover-link-color);
}

figcaption{
    font-size: 15px;
    font-family: var(--colored-font);
}

/*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ /*EXTRA*/ 

.extra{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--secondary-color);
}

.extra h2{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1rem;
    font-family: var(--heading-font);
    font-size: 50px;
    text-transform: uppercase;
}

article h3{
    background-color: var(--accent2-color);
    text-align: center;
    font-family: var(--heading-font);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 25px;
    padding: 15px;
    transition: all 0.5s ease;
}

article h3:hover{
    color: gray;
    background-color: var(--nav-link-color);
}

article p{
    background-color: var(--accent1-color);
    padding: 30px;
    font-family: var(--colored-font);
    font-size: 20px;
    text-align: justify;
    transition: all 0.5s ease;
}

article p:hover{
    color: gray;
    background-color: var(--nav-link-color);
}
/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ 


.pie {
    display: flex;
    justify-content: flex-end;
    padding: 20px; 
    background-color: var(--accent2-color);
    width: auto;
    grid-column: 1/6;
}

.pie p {
    color: aliceblue;
    margin-right: 400px;
}

.pie img{
    padding: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
}


.pie img:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}