@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&family=Nanum+Myeongjo:wght@400;700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #cbe1ff;
    --secondary-color: #c1fff1; 
    --accent1-color: 	#8cd8e0; 
    --accent2-color: #46abb9;
    
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Nanum Myeongjo', serif;
    --colored-font: 'Quicksand', sans-serif;
    
    --nav-background-color: #cbe1ff;
    --nav-link-color: #c1fff1;
    --nav-hover-link-color: #8cd8e0;
    --nav-hover-background-color: #46abb9;      
  }


*{
    margin: 0;
}




  
/*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ 

.call{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-hover-background-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.call:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
}

header img {
    height: 150px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    transition: 1s;
}

.logo:hover{
    transform: scale(1.1);
    transition: 1s;
}


.navh a{
    font-size: 17px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: var(--nav-hover-link-color);
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.navh :hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}




/*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1628048541470-45db71ac1244?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;   
}

main h2{
    padding: 10px;
    background-color: rgba(70, 171, 185, 0.4);
    margin-top: 30px;
    font-family: var(--heading-font);
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

main h2:hover{
    background-color: var(--accent2-color);
}

main img {
    width: 250px;
    height: 200px;
    margin-left: 20px;
    transition: 1s;
    border-radius: 0.5rem;
}

main img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.flexbox1{
    padding: 30px;
    margin-top: 10px;
    display: flex;
    background-color: rgba(203, 225, 255, 0.3);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 17px;
    text-align: justify;
    border-radius: 0.5rem;
    color: black;
    transition: all 0.5s ease;
}

.flexbox1:hover{
    background-color: var(--nav-background-color);
}

.grid1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}


.flexbox2{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 10px;
    background-color: rgba(203, 225, 255, 0.3);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 17px;
    text-align: justify;
    border-radius: 0.5rem;
    color: black;
    transition: all 0.5s ease;
}

.flexbox2:hover{
    background-color: var(--nav-background-color);
}

.flexbox2 img{
    margin-left: 20px;
    margin-right: 20px;
}


/*SECTION*/ /*SECTION*/ /*SECTION*/ /*SECTION*/  /*SECTION*/ /*SECTION*/ /*SECTION*/ /*SECTION*/ /*SECTION*/ /*SECTION*/

.grid2{
    display: grid;
    grid-column: 100%;
    grid-template-rows: auto auto;
}

.grid2 img{
    width: 284px;
    height: 200px;
    transition: 1s;
}

.grid2 img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.grid2 h2{
    text-align: center;
    background-color: var(--accent2-color);
    padding: 20px;
    color: aliceblue;
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

.flexbox3{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    padding-bottom: 30px;
    padding-top: 30px;
    transition: all 0.5s ease;
}

.flexbox3:hover{
    background-color: var(--nav-hover-link-color);
}

figcaption{
    font-size: 15px;
    font-family: var(--colored-font);
}

/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ 


.pie {
    display: flex;
    justify-content: flex-end;
    padding: 20px; 
    background-color: var(--accent2-color);
    width: auto;
    grid-column: 1/6;
}

.pie p {
    color: aliceblue;
    margin-right: 400px;
}

.pie img{
    padding: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
}




.pie img:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}