@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;700&family=Nanum+Myeongjo:wght@400;700&family=Quicksand:wght@300&display=swap');

:root {
    --primary-color: #cbe1ff;
    --secondary-color: #c1fff1; 
    --accent1-color: 	#8cd8e0; 
    --accent2-color: #46abb9;
    
    --heading-font: 'Cormorant Garamond', serif;
    --paragraph-font: 'Nanum Myeongjo', serif;
    --colored-font: 'Quicksand', sans-serif;
    
    --nav-background-color: #cbe1ff;
    --nav-link-color: #c1fff1;
    --nav-hover-link-color: #8cd8e0;
    --nav-hover-background-color: #46abb9;      
  }


*{
    margin: 0;
}

/*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/ 
.call{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-hover-background-color);
    font-family: var(--heading-font);
    font-weight: 600;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.call:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
}

header img {
    height: 150px;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    transition: 1s;
}

.logo:hover{
    transform: scale(1.1);
    transition: 1s;
}


.navh a{
    font-size: 17px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: var(--nav-hover-link-color);
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.navh :hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

/*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ /*MAIN*/ 

main{
    background-color: var(--secondary-color);
    padding-top: 50px;
}

main h1{
    background-color: rgba(70,171,185,0.7);
    text-align: center;
    color: white;
    font-family: var(--heading-font);
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
    transition: 1s;
}

main h1:hover{
    color: var(--nav-hover-background-color);
    background-color: var(--secondary-color);
}

.principal{
    background-color: var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
}

article{
    background-color: var(--primary-color);
    margin: 10px;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    text-align: justify;
    font-family: var(--colored-font);
    transition: all 0.5s ease;
}


article img{
    width: 400px;
    height: 320px;
    margin-bottom: 10px;
    justify-self: center;
}

article img:hover{
    transform: scale(1.1);
    transition: 2s;
}

article h3{
    font-family: var(--colored-font);
    color: var(--nav-hover-background-color);
    justify-self: center;
    margin-bottom: 10px;
    }


article a{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: var(--nav-hover-link-color);
    transition: all 0.5s ease;
    border-radius: 0.5rem;
    font-family: var(--heading-font);
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
}

article > a:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}

article span{
    font-weight: 600;
}

table{
    margin-top: 50px;
}

table, td, th{
    border: 1px solid var(--primary-color);
    border-collapse: collapse; 
}


th, td{
    padding: 20px;
}

thead{
    background-color: var(--accent1-color);
    font-family: var(--heading-font);
    font-size: 25px;
    text-transform: uppercase;
}

.th1{
    background-color: var(--primary-color);
    font-family: var(--colored-font);
    text-transform: uppercase;
    font-weight: 700;
}

tbody td{
    background-color: var(--nav-hover-background-color);
    font-family: var(--colored-font);
    font-weight: 700;
    transition: all 0.5s ease;
}

tbody td:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-link-color);
}

.extra{
    display: grid;
    grid-template-columns: auto;
    background-color: var(--accent1-color);
    padding-bottom: 100px;
    padding-top: 50px;
}

.extra h2{
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 40px;
    padding: 30px;
    font-size: 25px;
    font-family: var(--heading-font);
    color: black;
    text-transform: uppercase;
}

.extra img{
    width: 284px;
    height: 200px;
    transition: 2s;
}

.extra2{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    transition: 2s;
    background-color: var(--accent2-color);
    margin: 0;
}

.extra2 :hover{
    transform: scale(1.1);
    transition: 2s;
}


/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ 

.pie {
    display: flex;
    justify-content: flex-end;
    padding: 20px; 
    background-color: var(--accent2-color);
    width: auto;
    grid-column: 1/6;
}

.pie p {
    color: aliceblue;
    margin-right: 400px;
}

.pie img{
    padding: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
    border-radius: 0.5rem;
}


.pie img:hover{
    cursor: pointer;
    color: var(--nav-hover-background-color);
    background-color: var(--nav-background-color);
}